<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>
      <add key="dir" value="./DataSet" />
      <add key="dirlog" value="./Logger" />
      <add key="dirCsvErro" value="./DataErro" />
      <add key="dirCsvLimpo" value="./DataSetLimpo" />
      <add key="file" value="caso_full.csv.gz" />
      <add key="ConnectionString" value="mongodb+srv://apicovid19br:YytGIOVpIVTSTSBt@cluster0.kgboz.mongodb.net/myFirstDatabase?retryWrites=true&amp;w=majority" />
      <add key="NomeBanco" value="Covid19BR" />
      <add key="incrementalUF" value="PB" />
      <add key="incrementalData" value="2021-07-01" />
  </appSettings>  
</configuration> 