<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="dir" value="./DataSet"/>  
    <add key="dirlog" value="./Logger"/>
    <add key="dirCsvErro" value="./DataErro"/>
    <add key="dirCsvLimpo" value="./DataSetLimpo"/>
    <add key="file" value="caso_full.csv.gz"/>  
    <add key="incrementalUF" value="SE"/>
  </appSettings>  
</configuration> 
